h1
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-size: 100px;
    text-align: center; 
    background-color: rgb(104, 127, 241);
}

button
{
    
    color: #000;
    border: none;
    font-size: 40px;
    background-color: rgb(75, 122, 224); 
       
}

input
{
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
}
.find
{   
    
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
