:root
{
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --themeColor: rgb(43, 18, 96);
    --subThemeColor: #886eb1;
}

.title
{
    background-color: var(--themeColor);
    font-family: var(--font);
    font-size: 40px;
    
    text-align: center;
    
    color: white;
   

}
button
{
    
    color: white;
    border: none;
    font-size: 30px;
    background-color:var(--subThemeColor); 
       
}

input
{
    font-size: 40px;
    font-family: ver(--font);
}
.Header
{   
    text-align: left;
    font-family: var(--font);

}

.Header > input 
{
    color:gray;
    font-size: 20px;
    width: 50%;
    padding: 5px;
}

.Header > button 
{
    color: rgb(22, 2, 41);
    border: none;
    font-size: 30px;
    background-color:var(--subThemeColor);
    padding-left: 10px;
    padding-right: 10px;
    margin:5px;
   
}
.Recents
{
    /* background-color: orange; */

    width: 48%;
    height:fit-content;

    font-family: var(--font);
    font-size: 20px;
    
    
}

.Recents ul
{
    position: absolute;
    transition: all 10s ease;
}

.Recents:hover ul li
{
    background-color:rgb(43, 18, 96);
    height: 50px;
    transform: translateY();
}

