:root
{
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-size: 100px;
    text-align: center; 
    background-color: rgb(104, 127, 241);
}

button
{
    
    color: #000;
    border: none;
    font-size: 40px;
    background-color: rgb(75, 122, 224); 
       
}

input
{
    font-size: 40px;
    font-family: ver(--font);
}
.find
{   
    
    text-align: left;
    font-family: var(--font);
    font-size: 20px;
}

.recent
{
    font-family: var(--font);
    
    select
        {
            font-size: large;
            width:20%;
    }
    
}

