{% extends "layout.html" %}

{% block content %}
    <title> Create Credentials </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='addCredentials.css') }}">
    
{% endblock %}

{% block else %}

    <h1> Add Username and Password </h1>
    <form action="{{ url_for('submit') }}" method="POST">
        
      <p> Domain: </p>
        <input name="domain" type="text" placeholder="Domain">

      <p> Username: </p>
        <input name="username" type="text" placeholder="Username">

      <p> Password: </p>
        <input name="password" type="password" placeholder="Password">
        
      <br>
      <br>

      <input name="submit" type="submit">
    

    </form>

{% endblock else %}