<html lang="en">
    <head>

        <title> Password Manager </title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
        <script src="{{ url_for('static', filename='homeScript.js') }}"></script>
    
    </head>

  <body>
   
    <div class="title">
    
      <h1> Password Manager </h1> 
    
    </div>
    
    <div class="nav">

      - -

      <div class="-nav">
        <a href="http://127.0.0.1:5000/"> <input class="pages" type="button" value="Home"> </a>
        <a href="http://127.0.0.1:5000/"> <input class="pages" type="button" value="Generate Password"> </a>

      </div>
    </div>

    <div class="main">

      <div class="Header">
        
        <input type="search" placeholder="Search...">

        <button> Find </button>
      
        <a href=" {{ url_for('addCredentials') }}"> 
          
          <button style="width: 75px; margin: 10px;"> + </button>
        
        </a>
    
      </div>
    


      {% for credential in credentials %}
        <div class="domain"> 
          <input class="domainButtonClass" type="button" value="{{ credential.domain }}"> 
        </div>  
        
        <div class="credentials">
          <p> Username: {{ credential.username }}</p>
          <p> Password: {{ credential.password }}</p>
        </div>
      {% endfor %}
    </div>
    
  </body>
</html>

