<!DOCTYPE html>

<html>
  <head>
    <title> Create Credentials </title>
    
  </head>

  <body>
    <h1> Add Username and Password </h1>
    <form action="/Add_Credentials_Submit" method="post">
        
      <p> Username: </p>
        <input name="username" type="text" placeholder="Username">

        <p> Password: </p>
        <input name="password" type="password" placeholder="Password">
        
    <br>
    <br>

    
      <button> Submit </button>
    

    </form>

    <p id="paragraph"> Hello</p>
  </body>
</html>