<html lang="en">
    <head>

        <title> Password Manager </title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    
    </head>

  <body>

    <div class="title">
      <h1>Password Manager</h1>
    </div>
    
    <div class="Header">
      <input type="search" placeholder="Search...">

      <button> Find </button>
     
      <a href=" {{ url_for('addCredentials' )}}"> 
        <button style="width: 75px; margin: 10px;"> + </button>
      </a>
      <!-- <p id="search"> </p>
      <p style="font-style: italic;" id="result"></p>

      <p style="font-weight: bold;" id="username"> </p>
      <p style="font-weight: bold;" id="password" onmouseover="changeFromHidden()" onmouseleave="changeToHidden()"> </p>
       -->

    </div>
    

    <div class="Recents">
      {% for credential in credentials %}
        <h3> Domain: {{ credential.domain }} </h3>
        <p> Username: {{ credential.username }}</p>
        <p> Password: {{ credential.password }}</p>
      {% endfor %}
    </div>
    
  </body>
</html>

